* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Riutilizzabili */
a {
    text-decoration: none;
    color: #868686;
}

a:hover {
    color: black;
}

.btn {
    background-color: #eb008d;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
}

.relative {
    position: relative;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    box-shadow: 0 0 4px 2px rgba(133, 133, 133, 0.397);
    background-color: white;
    font-size: 20px;
    padding: 0 150px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 80px;
}

header ul li img {
    height: 40px;
    margin-top: 20px;
}

header ul li a.upper {
    text-transform: uppercase;
}

header ul li i {
    font-size: 15px;
    vertical-align: middle;
}

/* Account Dropdown */
div.dropdown {
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(133, 133, 133, 0.397);
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
}

div.dropdown span {
    width: 100%;
}

div.dropdown.active {
    display: flex;
}

.accounts-form {
    width: 150px;
    padding: 10px;
}

/* Products Dropdown */
.products-form {
    width: 500px;
    padding: 10px 50px;
    text-align: left;
}

.tag {
    color: #eb008d;
    vertical-align: super;
    font-size: 15px;
}

/* Company Dropdown */
.company-form {
    width: 250px;
    padding: 10px 50px;
    text-align: left;
}

/* Help Dropdown */
.help-form {
    width: 300px;
    padding: 10px 50px;
    text-align: left;
}

/* Language Dropdown */
.language-form {
    width: 150px;
    padding: 10px;
}

.language i {
    display: none;
}

.language i.active {
    display: inline-block;
}

/* MAIN */
main {
    height: 1300px;
    background-color: #0d93db;
}