* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Riutilizzabili */
a {
    text-decoration: none;
    color: #868686;
}

a:hover {
    color: black;
}

.btn {
    background-color: #eb008d;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
}

.relative {
    position: relative;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    box-shadow: 0 0 4px 2px rgba(133, 133, 133, 0.397);
    font-size: 20px;
    padding: 0 150px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 80px;
}

header ul li img {
    height: 40px;
    margin-top: 20px;
}

header ul li a.upper {
    text-transform: uppercase;
}

header ul li i {
    font-size: 15px;
    vertical-align: middle;
}

/* Account Dropdown */
div.accounts-dropdown,
div.products-dropdown,
div.company-dropdown,
div.help-dropdown,
div.language-dropdown {
    width: 150px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(133, 133, 133, 0.397);
    position: absolute;
    top: 80px;
    left: -35%;
    display: none;
    text-align: center;
}

div.accounts-dropdown span,
div.products-dropdown span,
div.company-dropdown span,
div.help-dropdown span,
div.language-dropdown span {
    width: 100%;
}

div.accounts-dropdown.active,
div.products-dropdown.active,
div.company-dropdown.active,
div.help-dropdown.active,
div.language-dropdown.active {
    display: flex;
}

/* Products Dropdown */
div.products-dropdown {
    width: 500px;
    padding: 10px 50px;
    left: -300%;
    text-align: left;
}

.tag {
    color: #eb008d;
    vertical-align: super;
    font-size: 15px;
}

/* Company Dropdown */
div.company-dropdown {
    width: 250px;
    padding: 10px 50px;
    left: -120%;
    text-align: left;
}

/* Help Dropdown */
div.help-dropdown {
    width: 300px;
    padding: 10px 50px;
    left: -300%;
    text-align: left;
}

/* Language Dropdown */
div.language-dropdown {
    width: 150px;
    padding: 10px;
    left: -150%;
}

.language i {
    display: none;
}

.language i.active {
    display: inline-block;
}